PORT=5000
CLIENT_URL=http://localhost:5173

SUPABASE_URL=https://nkexktygvppdgecydivm.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5rZXhrdHlndnBwZGdlY3lkaXZtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4ODE1NTUsImV4cCI6MjA4NTQ1NzU1NX0.yLtnTNY9ZGOe7ppv66DK4yFwr6Lv1eRLoNlclNBtNpw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5rZXhrdHlndnBwZGdlY3lkaXZtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTg4MTU1NSwiZXhwIjoyMDg1NDU3NTU1fQ.FlEEns7-JUiCyVi90t4h5r_j0kO3RlFhICCwVOkLcWk

OPENAI_API_KEY=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
YOUTUBE_API_KEY=AIzaSyCxR8Tiy4eGR0rlH_ifliClGd65g_hVuoI

